@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  /* Mobile Responsive Design */
  /* Base styles for mobile */
  .container {
    width: 100%;
    padding: 15px;
  }
  
  /* Base styles for mobile */
  body {
    font-size: 16px;
  }
  
  
  /* Styles for smaller screens */
  @media screen and (max-width: 768px) {
    .andy-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
    }
    .small-pic {
      min-width: 300px;
    }
    .about-show {
      flex-direction: column-reverse;
    }
    .empty-block {
      display: none;
    }
    .container2 {
      min-height: 350px; 
    }

    .nav-list {
      width: 50%; 
    }
  }
  
  
  
  /* Styles for larger screens (tablets) */
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  
    .container {
      width: 750px;
      margin: 0 auto;
      padding: 20px;
    }
  }
  
  /* Styles for desktops */
  @media screen and (min-width: 1024px) {
    .container {
      width: 960px;
    }
  }

  
  
  /* Green color: #9ee2bfff */
  /* Light green: #e0f2e9ff */
  /* Maddie Website: https://maddiercb.com/ */
  
  * {
    box-sizing: border-box;
  }
  
  :root {
    --dark-green: #9ee2bf;
    --mid-green: #bfecd3;
    --light-green: #dff6e9;
    --dark-comp: #E2A69E;
  }
  
  body {
    background: whitesmoke;
    color: black;
    font-family: Rubik;
  
  }
  
  /* HEADER AND FOOTER STUFF */
  
  nav,
  footer {
    width: 100%;
    background-color: var(--dark-green);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
  }
  
  .nav {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 5px double black;
    width: 100%;
    font-size: min(3vw, 1em);
    gap: 2em;
  }
  
  .nav-list {
    margin: 0 5px;
    padding: 2px;
    position: fixed;
    right: 0;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .nav-list li {
    list-style: none;
    margin: 0 1em;
    gap: 2em;
    padding: 2px;
  }
  
  .nav li {
    float: right;
  }
  
  .nav-list a,
  footer a {
    border-bottom: 5px double transparent;
    text-align: center;
    justify-content: center;
    bottom: 0;
    color: black;
    text-decoration: none;
  }
  
  .nav-list a:hover,
  footer a:hover {
    border-bottom: 5px double black;
    /*font-weight: bold;*/
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  footer {
    height: 40px;
    position: fixed;
    top: calc(100vh - 40px);
    /* bottom: 0; */
    left: 0;
    border-top: 5px double black;
    width: 100%;
    flex-wrap: wrap;
    font-size: min(3vw, 0.7em);
    gap: 2em;
    justify-content: center;
    /* TODO: GET RID OF FOOTER AT BOTTOM */
  }
  
  
  
  /* LOGO STUFF */
  .logo {
    text-decoration: none;
    color: black;
    position: fixed;
    left: 1.2em;
    text-align: center;
    justify-content: left;
    padding: 0 5px;
  }
  
  .logo h1,
  h2 {
    padding: 0;
    margin: 0;
  }
  
  .logo h1 {
    font-size: min(5vw, 1.6em);
    text-align: center;
    font-weight: bolder;
  }
  
  .logo h2 {
    font-size: min(2vw, 0.8em);
    font-weight: lighter;
  }
  
  a[class~="logo"]:hover {
    background-color: var(--light-green);
    color: inherit;
  }
  
  
  
  
  
  
  
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    left: 0;
    padding-bottom: 45px;
    width: 100%; 
  }
  
  /* HOME PAGE STUFF */
  
  .andy-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 10px; 
  }
  
  .pfp {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    height: auto; 
    border-radius: 20px;
  }
  
  #bio {
    margin: 10px;
    width: 55%;
    min-width: 300px;
  }
  
  /* SCREEN READER STUFF */
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  
  
  
  